<input class="doctor" type="text" name="doctor" placeholder="doctor">
<input class="time" type="number" name="time" placeholder="time">
<input class="location" type="text" name="location" placeholder="location">
<input class="reason" type="text" name="reason" placeholder="reason">
<input class="userId" type="hidden" name="user_id" value="<%= session[:user_id] %>">
<button class="aptBtn" type="button">Make an appointment</button>
